@import "bootstrap/dist/css/bootstrap.min.css";
@import "headerfooter.css";
@import "styleone.css";
@import "styletwo.css";
@import "rightbar.css";
@import "blogdetail.css";
.main {
  padding: 50px 0px;
  margin-top: 50px;
}
.blog-tags label {
  margin-right: 5px;
}
.img-fluid {
  width: 100%;
}
.blog-tags span {
  border-color: #e76d0c #e15500 #e15500;
  padding: 3px 12px 6px;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.05) 0 1px 0;
  background-color: #ec7211;
  background-image: -moz-linear-gradient(top, #f67c1b 0, #e15500);
  background-image: linear-gradient(180deg, #f67c1b 0, #e15500);
  margin-right: 7px;
}

.blog-tags span,.sidebar-tags a{
  text-transform: capitalize;
  cursor: pointer;
}
.backdrop{
  width: 100%;
    background: #ffffff7d;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.lds-spinner {
  color: #000;
    display: inline-block;
    position: relative;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    position: fixed;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




@media (max-width: 767px) {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
