.style-two-card {
  margin-bottom: 30px;
}
.style-two-card:hover {
  box-shadow: 1px 1px 10px 1px #eee;
  cursor: pointer;
  border-radius: 10px;
}
.style-two-card .image-container {
}
.style-two-card .image-container img {
}
.style-two-card .grid-contain {
  border: 1px solid #f3f3f3;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0 0 10px #eee);
  transition: all 0.3s;
}
.style-two-card .text-container {
  position: relative;
  display: block;
}
.style-two-card .blog-info {
  padding: 28px;
  bottom: 0;
}
.style-two-card p {
  font-size: 14px;
}
.style-two-card h3 {
  color: #e45a03;
  font-size: 24px;
}
.style-two-card h3:hover {
  color: #222;
}
.style-two-card .blog-info {
  font-size: 14px;
}
